<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Currency converter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>

</head>
<body>
<div class="container text-center">
  <h3>General overview</h3>
  <div class="jumbotron">
    <form th:action="@{/logout}" method="post">
      <p>
        Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
      </p>
      <input type="submit" class="btn calculate-btn btn-primary" value="Logout"/>
    </form>
  </div>
  <div class="jumbotron">
    <div class="container text-center">
      <h2>Currency Calculator</h2>
      <p class="lead">Convert the currency</p>
      <div class="form-center">
        <form id="form" name="form" class="form-row inline text-center ">

          <fieldset id="selectSet">
            <div class="form-group ">
              <input id="amount" required  type="number" name="amount" class="form-control" min="0.000" step="0.001"/>
            </div>
            <div class="form-group">
              <select id="fromSelect" required  onchange="this.blur()"  class="form-control custom-select"  onfocus="this.value='' ">
                <option></option>
              </select>
            </div>
            <div class="form-group">
              <select id="toSelect" required  onchange="this.blur()"  class="form-control custom-select"  onfocus="this.value='' ">
                <option></option>
              </select>
            </div>
            <div class="form-group">
              <div id="btn-calc" class="btn calculate-btn btn-primary">Convert!</div>
            </div>
            <div id="output" class="form-group">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container text-center">
      <div class="form-group">
        <input id="btn-history" type="button" onclick="change()" class="btn calculate-btn btn-primary" value="Get my history">
      </div>
      <div id="history" class="form-group">
      </div>
    </div>
  </div>
</div>


<script src="js/main.js"></script>

</body>
</html>
